@import "@/styles/mixins";
@import "@/styles/variables";


.section {
   width: 100%;
   background: $section-linear;

}

.boxList {
   @include flex();
   flex-direction: column;
   gap: 10px;
   margin-bottom: 10px;

   @include media("tablet") {
      gap: 20px;
      margin-bottom: 20px;
   }

   @include media("desktop") {
      flex-direction: row;
   }
}

.boxList,
.noteBox {
   @include media("tablet") {

      width: 70%;
      margin-left: auto;
      margin-right: auto;

   }

   @include media("desktop") {
      width: 100%;
   }
}


.noteBox {
   padding: 20px 30px;

   background: $form-linear;
   border-radius: 15px;

   @include media("tablet") {
      padding: 25px 45px;
   }

   @include media("desktop") {}
}


.note,
.note2 {
   font-weight: 300;
   font-size: 15px;
   line-height: 1.2;

   text-align: center;

   @include media("tablet") {
      font-size: 20px;
   }



}

.note2 {
   font-weight: 400;
}

.titleModal {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;

   color: $accent-text;
   font-weight: 700;
   font-size: 30px;
   line-height: 0.9;

   text-align: center;


   @include media("tablet") {
      font-size: 40px;
   }


   @include media("desktop") {
      width: 85%;
   }

}

.enum {
   margin-bottom: 26px;

   font-weight: 300;
   font-size: 15px;
   line-height: 1.2;

   text-align: center;

   @include media("tablet") {
      margin-bottom: 30px;

      font-size: 20px;
   }
}