@import "@/styles/mixins";
@import "@/styles/variables";


.form {
   border-radius: 15px;
   // backdrop-filter: blur(10px);

   @include flex(center, center);
   flex-direction: column;


   @include media("tablet") {
      max-width: 564px;
      margin: 0 auto;
   }

   @include media("desktop") {
      max-width: 630px;
      margin: 0 auto;
   }
}

.label {
   width: 100%;
   position: relative;

   font-weight: 500;
   font-size: 15px;
   line-height: 18px;

   @include media("tablet") {
      font-size: 20px;
   }

   @include media("desktop") {
      font-size: 25px;
   }
}

.radioList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   // grid-column-gap: 30px;
   grid-row-gap: 30px;
   margin-bottom: 30px;

}

.error {
   position: absolute;
   bottom: 0;
   left: 0;

   color: $error-text;
   font-size: 12px;
   transform: translateY(170%);

   @include media("tablet") {
      // left: 37%;
      font-size: 15px;
   }

   @include media("desktop") {
      left: 0;

      font-size: 12px;
   }
}

.labelContainer {
   width: 100%;

   @include media("desktop") {
      @include flex(center, center);
      gap: 10px;
   }
}


.btnBox {
   @include media("desktop") {
      width: 356px;
   }
}

.successBox {
   position: relative;
   width: 100%;
}

.successText {
   position: absolute;
   margin-top: 30px;

   color: $accent-text;

   font-size: 12px;
   line-height: 1.18;
   text-align: center;

   @include media("tablet") {
      font-size: 20px;
   }

   @include media("desktop") {
      font-size: 25px;
   }

}