@import "@/styles/mixins";
@import "@/styles/variables";

.footer {
   position: relative;
   overflow: hidden;
}

.ellipse {
   position: absolute;
   top: 45%;
   width: 537px;
   height: 390px;
   border-radius: 400px;
   background: $secondary-bg;
   // background: yellow;
   filter: blur(200px);

   z-index: -1;

   @include media("tablet") {
      top: 39%;
      left: 20%;
   }

   @include media("desktop") {
      top: 101px;
      left: 53%;
      width: 856px;
      height: 623px;

   }

}

.footerContainer {
   display: grid;
   grid-template-columns: 1fr;
   grid-row-gap: 36px;



   @include media("desktop") {
      // padding: 20px 30px;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 85px;
      grid-template-rows: auto auto;
      // align-items: center;
      grid-template-areas:
         "titleContainer formContainer"
         "iconsContainer formContainer"
      ;
   }
}

.titleContainer {
   @include media("desktop") {
      grid-column: 1;
      grid-area: titleContainer;
      align-self: end;
   }

}


.formContainer {
   // grid-row: 2;
   // grid-column: 2;



   @include media("desktop") {
      grid-row: 1;
      grid-column: 2;
      grid-area: formContainer;


   }
}

.iconsContainer {
   // grid-row: 1;
   // grid-column: 2;
   // margin-top: 25px;

   @include flex();
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   z-index: 1;

   @include media("tablet") {
      gap: 30px;
      // margin-top: 40px;
   }

   @include media("desktop") {
      grid-row: 2;
      grid-column: 1;
      grid-area: iconsContainer;
   }

   img {
      width: 40px;
      height: 40px;

      @include media("tablet") {
         width: 50px;
         height: 50px;
      }
   }
}